In [2]:
# import pandas
import pandas as pd

In [3]:
# read csv files 
totals = pd.read_csv('totals.csv').set_index(keys=['name'])
totals.head()
counts = pd.read_csv('counts.csv').set_index(keys=['name'])
counts.head()

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12
name,,,,,,,,,,,,
BURNABY SIMON FRASER U,30,22,30,30,21,21,20,25,20,19,17,16
CALGARY INTL A,31,29,31,30,31,30,31,30,30,30,30,30
GANDER INTL A,31,29,31,30,30,30,31,31,30,31,30,31
HALIFAX INTL A,31,29,31,30,31,30,31,31,29,30,30,31
REVELSTOKE,31,29,31,29,31,29,30,31,30,31,30,29

In [7]:
# which city had the lowest precipitation
total_precp_city = totals.sum(axis=1)
total_precp_city
# print row name
#total_precp_city.idxmin()

name
BURNABY SIMON FRASER U            12948
CALGARY INTL A                     5203
GANDER INTL A                     14568
HALIFAX INTL A                    15086
REVELSTOKE                         8451
SHERBROOKE                         8549
TORONTO LESTER B. PEARSON INT'     6378
VANCOUVER INTL A                  13148
YELLOWKNIFE A                      2234
dtype: int64

In [38]:
# determine average precp in these location for each month 
total_precp_month = totals.sum(axis=0)
total_precp_month
total_obs_month = counts.sum(axis=0)
total_obs_month
avg_precp_month = total_precp_month / total_obs_month
avg_precp_month

2016-01    27.779783
2016-02    30.426295
2016-03    29.410072
2016-04    17.966543
2016-05    21.344569
2016-06    20.694981
2016-07    24.977186
2016-08    19.856618
2016-09    24.065637
2016-10    44.684411
2016-11    34.615686
2016-12    32.366795
dtype: float64

In [40]:
# determine average precp (daily precp averaged over the month) for each city
total_obs_city = counts.sum(axis=1)
avg_precp_city = total_precp_city / total_obs_city
avg_precp_city

name
BURNABY SIMON FRASER U            47.778598
CALGARY INTL A                    14.333333
GANDER INTL A                     39.912329
HALIFAX INTL A                    41.445055
REVELSTOKE                        23.409972
SHERBROOKE                        23.681440
TORONTO LESTER B. PEARSON INT'    17.521978
VANCOUVER INTL A                  36.522222
YELLOWKNIFE A                      6.154270
dtype: float64